{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/birth_input.css' %}">
{% endblock head %} 
{% block content %}


<div class="input_container">
    <p class="logo unna-bold-40" style="color: var( --BB_color_white);"> Best Birthday</p>
    <p class="input_birthday notosans-bold-17" style="color: var(--BB_color_white);">생일을 입력해주세요</p>
    <div class="calendar">
        <input type="date" id="birthday" name="birthday" class="birthday_input">
    </div>
    <p class="notosans-bold-10 check_bday" style="color: var(--BB_color_orange);">*한 번 입력된 생일은 수정 불가합니다. 다시 한 번 확인해주세요.</p>
    <button class="btn" type="button" style="background-color: var(--BB_color_blue); color: var(--BB_color_white);" onclick="location.href=''">
        <p class="notosans-bold-16 ">확인</p>
    </button>
</div>

{% endblock content %}