{% extends '../base.html' %}
{% load static %}
{% load socialaccount %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock head %} 

{% block content %}
<div class="login-container">
    <a href="{% url 'fundings:main' %}" class="logo unna-bold-40" > Best Birthday</a>
        <div class="login-buttons">
            <a href="{% provider_login_url 'kakao' %}" class="social-login kakao div-btn">
                <img src="../../static/images/kakao.png" />
                <p class="notosans-bold-16 login-color" >카카오로 계속하기</p>
            </a>
            <a href="{% provider_login_url 'naver' %}" class="social-login naver div-btn">
                <img src="../../static/images/naver.png" />
                <p class="notosans-bold-16 login-color" >네이버로 계속하기</p>
            </a>
        </div>
</div>

{% endblock content %}
