{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/users/login_info.css' %}">
{% endblock head %} 
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="input_container">
        <a href="{% url 'fundings:main' %}" class="logo unna-bold-40" > Best Birthday</a>
        <p class="input_birthday notosans-bold-18" >생일을 입력해주세요</p>
        <input type="date" id="birthday" name="birthday" class="birthday_input notosans-regular-14">
        <p class="notosans-regular-12 check_bday"  >*한 번 입력된 생일은 수정 불가합니다. 다시 한 번 확인해주세요.</p>
    </div>
    <div class="nickname_img_wrapper">
        <p class="notosans-bold-18">프로필 설정</p>
        <label for="profile-upload" class="profile-for-center">
            <img class="input-profile-img"src="{% static 'images/default_profile.png' %}">
            <input id="profile-upload" type="file" name="profile" onchange="loadFile(event)">
        </label>
        <p class="notosans-bold-18">닉네임을 입력하세요</p>
        <textarea class="add-nickname" name="nickname"></textarea>
        <button class="div-btn" type="submit">
            <p class="notosans-bold-18" >확인</p>
        </button>
    </div>
</form>
{% endblock content %}
<!-- 사진 첨부 후 미리보기 위해 자바스크립트 사용 -->
{% block script %}
<script>
    let loadFile = function(event) {
        let output = document.querySelector('.input-profile-img');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src); // 메모리에서 이미지 URL을 제거
        }
    };

    document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector("form"); 
    const dateInput = document.getElementById("birthday");
    const nicknameInput = document.querySelector(".add-nickname"); 
    const submitButton = form.querySelector(".div-btn"); 

    // 초기 상태에서 버튼 비활성화 및 회색으로 설정
    submitButton.disabled = true;
    submitButton.style.backgroundColor = "#808080";

    function checkInputs() {
        // 생일과 닉네임 필드가 모두 채워져 있는지 확인
        if (dateInput.value !== "" && nicknameInput.value.trim() !== "") {
            submitButton.disabled = false;
            submitButton.style.backgroundColor = "#4114FF";
        } else {
            submitButton.disabled = true;
            submitButton.style.backgroundColor = "#808080";
        }
    }

    dateInput.addEventListener("input", checkInputs);
    nicknameInput.addEventListener("input", checkInputs);
});
</script>
{% endblock script %}
