{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/users/login_info.css' %}">
{% endblock head %} 
{% block content %}
<div class="input_container">
    <a href="{% url 'fundings:main' %}" class="logo unna-bold-40" > Best Birthday</a>
    <p class="input_birthday notosans-bold-20" >생일을 입력해주세요</p>
    <div class="calendar">
        <input type="date" id="birthday" name="birthday" class="birthday_input">
    </div>
    <p class="notosans-bold-10 check_bday"  >*한 번 입력된 생일은 수정 불가합니다. 다시 한 번 확인해주세요.</p>
    <a href="{% url 'users:nickname_profile_input' %}" class="div-btn">
        <p class="notosans-bold-18 ">다음</p>
    </a>
</div>
{% endblock content %}