{% extends '../base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/fundings/mypage_payment_guide.css' %}"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %} {% block header %}
<div class="payment-guide-title">
  {% if 'from=list' not in request.get_full_path %}
      <a href="{% url 'fundings:create_payment'%}"><i class="icon-left fa-solid fa-chevron-left"></i></a>
  {% else %}
      <a href="{% url 'fundings:create_payment'%}?from=list"><i class="icon-left fa-solid fa-chevron-left"></i></a>
  {% endif %}
  <p class="payment-guide-title-for-center notosans-bold-24">송금링크 설정</p>
</div>
{% endblock header %} {% block content %}
<div class="payment-link-btn-container">
  <button class="payment-btn-toss div-btn">
    <img src="../../static/images/toss-pay.png" />
  </button>
</div>
<p class="mandatory notosans-regular-12">
  ① [토스앱] → [전체] → [검색]에 들어가요
</p>
<div class="section">
  <input type="radio" name="slide" id="slide01" checked />
  <input type="radio" name="slide" id="slide02" />
  <input type="radio" name="slide" id="slide03" />
  <input type="radio" name="slide" id="slide04" />
  <div class="slidewrap">
    <ul class="slidelist">
      <li>
        <a>
          <img src="{%static 'images/toss_1.png'%}" />
        </a>
      </li>
      <li>
        <a>
          <img src="{%static 'images/toss_2.png'%}" />
        </a>
      </li>
      <li>
        <a>
          <img src="{%static 'images/toss_3.png'%}" />
        </a>
      </li>
      <li>
        <a>
          <img src="{%static 'images/toss_4.png'%}" />
        </a>
      </li>
    </ul>

    <div class="slide-control">
      <div class="control01">
        <label for="slide04" class="left"></label>
        <label for="slide02" class="right"></label>
      </div>
      <div class="control02">
        <label for="slide01" class="left"></label>
        <label for="slide03" class="right"></label>
      </div>
      <div class="control03">
        <label for="slide02" class="left"></label>
        <label for="slide04" class="right"></label>
      </div>
      <div class="control04">
        <label for="slide03" class="left"></label>
        <label for="slide01" class="right"></label>
      </div>
    </div>
  </div>
</div>
<form
  method="post"
  class="notosans-bold-18"
  id="myForm"
  onsubmit="return validateLink()"
>
  {% csrf_token %}
  <div class="paymentguide-link">
    <p class="notosans-bold-18">링크</p>
    <input
      type="text"
      autocomplete="off"
      class="notosans-bold-16"
      name="toss_account"
      id="tosslink"
      value="{{ form.toss_account.value }}"
    />
  </div>
  <div id="linkValidationMsg" class="link-validation-message notosans-regular-12"></div>
  <br />
  <button class="div-btn setting-btn" type="submit" >
    <span class="notosans-bold-18">링크 저장</span>
  </button>
</form>

<script>
  function validateLink() {
    const inputValue = document.getElementById("tosslink").value;
    const validationMessage = document.getElementById("linkValidationMsg");
    const pattern = /^https:\/\/toss\.me\//;

    if (pattern.test(inputValue)) {
      return true;
    } else {
      alert("링크를 다시 확인해주세요!");
      return false;
    }
  }

  //슬라이더 변경될 때마다 글자 변경
  $(document).ready(function () {
    $('input[name="slide"]').change(function () {
      var currentSlideId = $('input[name="slide"]:checked').attr("id");
      var newText;
      switch (currentSlideId) {
        case "slide01":
          newText = "① [토스앱] → [전체] → [검색]에 들어가요";
          break;
        case "slide02":
          newText = "② [토스아이디]를 검색해서 '내 토스아이디'에 들어가요";
          break;
        case "slide03":
          newText = "③ 아이디가 없다면 만든 후, [내 아이디 공유]를 눌러주세요";
          break;
        case "slide04":
          newText = "④ [링크복사]를 눌러 복사한 후, 아래에 붙여넣어 주면 끝!";
          break;
        default:
          newText = "";
      }

      // 텍스트 업데이트
      $(".mandatory.notosans-regular-12").text(newText);
    });
  });
</script>

{% endblock content %}
