{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/mypage_payment_guide.css' %}">
{% endblock head %}

{% block header %}
<div class="payment-guide-title">
    <div onClick="history.go(-1)" class="icon-left"><i class="fa-solid fa-chevron-left"></i></div>
    <p class="payment-guide-title-for-center notosans-bold-24">송금하기</p>
</div>
{% endblock header %}

{% block content %}
<p class="notosans-bold-18">선물받을 계좌를 입력하세요</p>
<div class="payment-link-btn-container">
    <button class="payment-btn-kakao div-btn">
        <img src="../../static/images/kakao-pay.png">
    </button>
</div>
<p class="mandatory notosans-regular-12 ">*필수</p>
<img  class="guide-kakaopay"src="../../static/images/guide.png">

<form method="post" class="notosans-bold-18" id="myForm" onsubmit="return validateLink()">
    {% csrf_token %}
    <div class="paymentguide-link">
        <p class="notosans-bold-18">링크</p>
        <input type="text" autocomplete="off" class="notosans-bold-16" name="kakao_account" id="kakaolink" value="{{ form.kakao_account.value }}">
    </div>
    <div id="linkValidationMsg" class="link-validation-message"></div><br>
    <button class="div-btn setting-btn" type="submit">
        <span class="notosans-bold-18">링크 저장</span>
    </button>
</form>

<!-- 링크 확인 JS -->
<script>
    function validateLink() {
        const inputValue = document.getElementById("kakaolink").value;
        const validationMessage = document.getElementById("linkValidationMsg");
        const pattern = /^https:\/\/qr\.kakaopay\.com\/\w{9}$/;

        if (pattern.test(inputValue)) {
            validationMessage.innerText = "유효한 링크";
            return true; 
        } else {
            validationMessage.innerText = "링크를 다시 확인해주세요!";
            return false; 
        }
    }
</script>

{% endblock content %}