{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/mypage_list.css' %}">
{% endblock head %}

{% block header %}
<div class="mypage-title">
    <a href="{%url 'fundings:main'%}"><i class="icon-left fa-solid fa-chevron-left"></i></a>
    <p class="mypage-title-for-center notosans-bold-24">마이페이지</p>
</div>
{% endblock header %}

{% block content %}
<a href="{%url 'users:mypage_profile_setting'%}">
    <p class="notosans-bold-24 mypage-links">프로필</p>
    <div class="mypage-background">
        <div class="mypage-first-section">
            <div class="profile"></div>
            <div class="mypage-profile">
                <div class="mypage-profile2">
                <p class="notosans-bold-20 myname">{{user.nickname}}</p>
                <div class="D-day div-btn">
                    <p>
                      {{user.birthday|date:"F j일"}}
                    </p>
                  </div>
                </div>
            </div>
            <div class="right-icon" onclick="">
            <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
</a>

<div class="mypage-funding">
    <p class="notosans-bold-24 mypage-links">펀딩</p>
    <a href="{%url 'users:mypage_myfunding'%}" class="mypage-links notosans-regular-18">내 생일 펀딩</a>
    <a href="{%url 'users:mypage_participated'%}" class="mypage-links notosans-regular-18">내가 참여한 펀딩</a>
    <a href="{%url 'fundings:create_payment'%}" class="mypage-links notosans-regular-18">송금 링크 관리</a>
</div>

<div class="mypage-account">
    <p class="notosans-bold-24 mypage-links">계정 관리</p>
    <a href="{%url 'users:logout'%}" class="mypage-links notosans-regular-18">로그아웃</a>
    <a href="" class="mypage-links notosans-regular-18">회원탈퇴</a>
</div>

<div class="mypage-etc">
<a href=""class="notosans-bold-24 mypage-links">서비스</a>
<a href=""class="notosans-regular-18 mypage-links">팀소개</a>
</div>
{% endblock content %}