{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/mypage_payment_guide.css' %}">
{% endblock head %}

{% block header %}
<div class="payment-guide-title">
    <div class="icon-left"><i class="fa-solid fa-chevron-left"></i></div>
    <p class="payment-guide-title-for-center notosans-bold-24">송금하기</p>
</div>
{% endblock header %}

{% block content %}
<p class="notosans-bold-18">선물받을 계좌를 선택하세요</p>
<div class="payment-link-btn-container">
    <button class="payment-btn-kakao div-btn">
        <img src="../../static/images/kakao-pay.png">
    </button>
    <button class="payment-btn-toss div-btn">
        <img src="../../static/images/toss-pay.png">
    </button>
</div>
<p class="mandatory notosans-regular-12 ">*필수</p>
<img  class="guide-kakaopay"src="../../static/images/guide.png">
<div class="paymentguide-link">
    <p class="notosans-bold-18">링크</p>
    <p class="notosans-bold-16">linklinklink</p>
</div>
<div class="div-btn setting-btn">
    <p class="notosans-bold-18">링크 생성하기</p>
</div> 

{% endblock content %}