{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/mypage_payment_guide.css' %}">
{% endblock head %}

{% block header %}
<div class="payment-guide-title">
    <div onClick="history.go(-1)" class="icon-left"><i class="fa-solid fa-chevron-left"></i></div>
    <p class="payment-guide-title-for-center notosans-bold-24">송금하기</p>
</div>
{% endblock header %}

{% block content %}
<p class="notosans-bold-18">선물받을 계좌를 입력하세요</p>
<div class="payment-link-btn-container">
    <button class="payment-btn-kakao div-btn">
        <img src="../../static/images/kakao-pay.png">
    </button>
</div>
<p class="mandatory notosans-regular-12 ">*필수</p>
<img  class="guide-kakaopay"src="../../static/images/guide.png">
<div class="paymentguide-link">
    <p class="notosans-bold-18">링크</p>
    <p class="notosans-bold-16"><input type="text" id="kakaolink"></p>
</div>
<button class="div-btn setting-btn" type="submit" onclick="checkLink()">
    <p class="notosans-bold-18">링크 생성하기</p>
</button> 

<!-- 링크 유효성 확인 링크 -->
<script>
    function checkLink() {
        const inputValue = document.getElementById("kakaolink").value;

        let pattern = /^https:\/\/qr\.kakaopay\.com\/\w{9}$/;

        if (pattern.test(inputValue)) {
            alert("유효한 링크입니다!");
        } else {
            alert("링크를 다시 확인해주세요!");
        }
    }
</script>

{% endblock content %}