{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/mypage_profile_setting.css' %}">
{% endblock head %}

{% block header %}
<div class="mypage-title">
    <i onClick="history.go(-1)" class="icon-left fa-solid fa-chevron-left"></i>
    <p class="mypage-title-for-center notosans-bold-24">프로필 설정</p>
</div>
{% endblock header %}


{% block content %}
<form method="post">
    {% csrf_token %}

    <div class="nickname_img_wrapper">
        <p class="notosans-bold-18">프로필 설정</p>
        <label for="profile-upload" class="profile-for-center">
            <img class="input-profile-img"src="{% static 'images/default_profile.png' %}">
            <input id="profile-upload" type="file" name="profile" onchange="loadFile(event)">
        </label>
        <p class="notosans-bold-18">닉네임을 입력하세요</p>
        <textarea class="add-nickname" name="nickname"></textarea> 
        <button class="div-btn" type="submit">
            <p class="notosans-bold-18">완료</p>
        </button>
    </div>
</form>
{% endblock %}
<!-- 사진 첨부 후 미리보기 위해 자바스크립트 사용 -->
{% block script %}
<script>
    let loadFile = function(event) {
        let output = document.querySelector('.input-profile-img');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src); // 메모리에서 이미지 URL을 제거
        }
    };
</script>
{% endblock script %}
