{% extends "base.html" %} {%load static%} {% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/mypage_list.css'%}" /> {% endblock head %}
{% block header %}
<div class="mypage-title">
  <a href="{%url 'users:mypage_list'%}"><i class="icon-left fa-solid fa-chevron-left"></i></a>
    <p class="mypage-title-for-center notosans-bold-24">내가 참여한 펀딩</p>
</div>
{% endblock header %} {% block content %}
{%if participated_fundings%}
    {%for funding in participated_fundings%}
    <a href="{%url 'fundings:detail' pk=funding.pk%}">
      <div class="card-container">
        <div class="card-top">
          {%if funding.photo.url != null and funding.photo.url != ''%}
              <img class="card-image" src="{{funding.photo.url}}" alt="대체텍스트" />
              {%else%}
              <img class="card-image" src="{%static 'images/no_img.png'%}" alt="" />
              {%endif%}
          <div class="D-day div-btn">
              <p class="notosans-regular-12">
                {% with dday=funding_dday_dict|get_item:funding.id %}
                  {% if dday > 0 %}
                      D - {{dday}} 
                  {% elif dday == 0 %}
                      D - Day 
                  {% else %}
                      펀딩 종료
                  {% endif %}
                  {% endwith %}
              </p>
          </div>
        </div>
        <div class="card-title notosans-bold-16">{{funding.title}}</div>
        <div class="progress-container">
          <div class="coin-icon"></div>
          <div class="progress-value-container">
            {% with progress=funding_progress_dict|get_item:funding.pk %}
            <progress value="{{progress}}" max="100"></progress>
            <div class="progress-percent notosans-regular-12">
              {{progress}}%
            {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </a>
    {%endfor%}
        {%else%}
        <p class="null-guide notosans-bold-20"> 참여한 펀딩이 없습니다.</p>
        {%endif%}
{% endblock content %}
