{% extends '../base.html' %}
{% load static %}
{% load socialaccount %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/nickname_profile_input.css' %}">
{% endblock head %} 

{% block content %}
        <a href="{% url 'fundings:main' %}" class="logo unna-bold-40" > Best Birthday</a>
    <div class="nickname_img_wrapper">
        <p class="notosans-bold-18">프로필 설정</p>
        <div class="profile-for-center">
            <img class="input-profile-img"src="../../static/images/default_profile.png">
        </div>
        <p class="notosans-bold-18">닉네임 설정</p>
        <input type="text" class="nickname-input" placeholder="닉네임을 입력하세요.">
        <a href="{% url 'fundings:main' %}" class="div-btn setting-btn">
            <p class="notosans-bold-18">확인</p>
        </a>
    </div>
{% endblock content %}