{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Birthday</title>
    <link rel="preload" href="https://kit.fontawesome.com/5658349e28.js" as="script" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/variables.css' %}" />
    <script src="https://kit.fontawesome.com/5658349e28.js" crossorigin="anonymous"></script>
    {% block head %} {% endblock head %}
  </head>

  <body>
    <div class="container">
      <header>
        <div id="header-container">
          {% block header %} {% endblock header %}
        </div>
      </header>
      <main>
        <div id="main-container">
          {% block content %} {% endblock content %}
        </div>
        {% block content2 %} {% endblock content2 %}
      </main>
    </div>
    <script></script> 
    <!--모달을 위한 content 추가-->
    {% block content3 %}{% endblock content3 %}
    {% block script %}{% endblock script %}
  </body>
</html>
