.xmark-icon  {
    text-align: right; 
}

.xmark-icon .fa-xmark {
    font-size: 2rem;
}

.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_birthday{
    align-self: flex-start; 
    margin-top: 40%;
    text-align: left;
}
.check_bday{
    align-self: flex-start; 
    color: var(--BB_color_orange);
}

.birthday_input {
    width: 34rem;
    height: 4.7rem;
    border-radius: 1.1rem;
    border: none;
    margin: 2rem 0 2rem 0;
}
.commit-birthday{
    background-color: var(--BB_color_blue);
}
