
#header-container{
    align-items: center;
}
#header-container i {
    font-size: 3.6rem;
  }
#header-container>div:nth-child(3) {
    width: 3.6rem;
    height: 3.6rem;
}
.payment_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
}
.payment-link-btn-container{
    display: flex;
    flex-direction: row;
    gap: var(--gutter8);
    margin: var(--gutter16) 0;
    
}
.payment-btn-kakao{
background-color: #f7e100;
}
.payment-btn-kakao>div{
    width: 8.5rem;
    height: 2.5rem;
    background-image: url(../images/kakao-pay.png);
    background-size: cover;
}
.payment-btn-toss>div{
    width: 8.5rem;
    height: 2.5rem;
    background-image: url(../images/toss-pay.png);
    background-size: cover;
}
.payment-description{
    color: var(--BB_color_orange);
    margin-top: 0.5rem;
}
.create_payment_btn{
    width: 100%;
    position: relative;
    top: 30rem;
}