
#main-container {
    gap: var(--gutter24);
  }
  .mypage-title {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; 
}
.icon-left{
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    left:var(--gutter8);
    position: absolute;
    left: 0; 
}

.mypage-title-for-center{
    text-align: center;
}

