body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}
.container {
  width: 100%;
  max-width: 39rem;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
header {
  width: 100%;
  height: 11rem;
}
#header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 2.4rem;
  padding-top: 6rem;
  margin-bottom: var(--margin8px);
}
#header-container-icon{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 2.4rem;
  padding-top: 6rem;
  margin-bottom: var(--margin8px);
}
main {
  width: 100%;
  padding-bottom: var(--gutter24);
}
#main-container {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
}
.logo {
  color: white;
}
.profile {
  background-image: url(../img/profile.svg);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--BB_color_blue);
}
.div-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.7rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1.1rem;
  background-color: var(--BB_color_blue);
}
.card-container {
  padding: var(--gutter16);
  display: flex;
  flex-direction: column;
  gap: var(--gutter16);
  border-radius: 1.1rem;
  background-color: var(--BB_color_background_gray);
  font-size: 2.4rem;
}
.card-top {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.card-image {
  margin-right: 3rem;
  width: 10rem;
  height: 10rem;
  background-color: white;
}
.D-day {
  width: 7rem;
  height: 3rem;
  font-size: bold;
  background-color: var(--BB_color_orange);
}
.card-title {
  text-align: center;
}
.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gutter16);
  padding-right: var(--gutter8);
}
.coin-icon {
  width: 5rem;
  height: 4rem;
  background-image: url(../img/coin.png);
  margin-bottom: var(--gutter8);
}
.progress-value-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}
.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: var(--BB_color_blue);
  border-radius: 11px;
}
.progress {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--BB_color_orange);
  border-radius: 11px;
  width: 32%; /*프로그레스 value*/
}
.progress-percent {
  position: relative;
  top: 0.8rem;
  font-weight: bold;
}
.header-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-title-container i {
  font-size: 3.6rem;
}
.header-title-container div:nth-child(3) {
  width: 3.6rem;
  height: 3.6rem;
}
.btn{
  width: 34rem;
  height: 4.7rem;
  border: none;
  border-radius: 1.1rem;
  margin: 1rem 0;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

