body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}
.container {
  max-width: 39rem;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}
header {
  width: 39rem;
  height: 11rem;
}
#header-container{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  padding: 0 2.4rem;
  padding-top: 6rem;
  margin-bottom: var(--margin8px);
}
main{
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
}
.logo{
  color: white;
}
.profile{
  background-image: url(../img/profile.svg);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--BB_color_blue);
}

.btn{
  width: 34rem;
  height: 4.7rem;
  border: none;
  border-radius: 1.1rem;
  margin: 1rem 0;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}