:root {
    /* Font families */
    --font-family-unna: "Unna", serif;
    --font-family-noto-sansKR: "Noto Sans KR", sans-serif;

      /* Main Colors */
    --BB_color_blue: #4114FF;
    --BB_color_orange: #FF6245;
    --BB_color_black: #141414;
    --BB_color_white: #FFFFFF;

    /* Sub Colors */
    --BB_color_skyblue: #2BAAFF;
    --BB_color_yellow: #FFB512;
    --BB_color_green: #12F9D9;
    --BB_color_blue_sub: #0049C2;

    /*font size*/
    font-size: 62.5%;

     /* Unna font sizes */
    --unnabold61: 6.1rem; 
    --unnabold40: 4rem;    

    /* Noto Sans font sizes */
    --notosansbold20: 2rem;  
    --notosansbold17: 1.7rem; 
    --notosansbold16: 1.6rem;    
    --notosansregular14: 1.4rem; 
    --notosansbold10: 1rem;  
    --notosansbold24: 2.4rem; 
    --notosansregular12: 1.2rem; 

    /*margin*/
    --margin8px:0.8rem;
    --margin16px:1.6rem;


    --vh: 8.44px;
    --app-max-width: 39.0rem;
  }
