/* card2 CSS */
.card2-container {
  flex-direction: row;
  position: relative;
}
#main-container {
    gap: var(--gutter24);
  }
.card2-right{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;   
    align-items: end;
}
.card2-content{
    display: flex;
    flex-direction: column;
    gap: var(--gutter8);
}
.card2-image {
  width: 10rem;
  height: 10rem;
  background-color: white;
}
.card2-title{
    margin: var(--gutter8) 0;
    width: 100%;
}
.D-day{
  position: absolute; 
  top: var(--gutter16); 
  right: var(--gutter16);  
    height: 2rem;
    font-weight: bold;
}
.progress-container{
  position: absolute;
  bottom: var(--gutter16); 
  right: var(--gutter16);
  width: 57%;
  padding:0;
}
.progress-percent2{
  font-weight: bold;
}
.img-badge-container{
  position: relative;
}
.img-badge-container span:nth-of-type(1){
  position: absolute;
  top: 0.6rem;
  left: 0.9rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: wheat;
}
.badge{
  width: 2.5rem;
  height: 3.5rem;
  position:absolute;
  top: 0;
  left: 0;
}
.icon-left{
  font-size: 2.5rem;
  cursor: pointer;
}