.create-gift-title {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; 
}
.icon-left{
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    left:var(--gutter8);
    position: absolute;
    left: 0; 
}
.create-gift-title-for-center{
    text-align: center;
    margin-bottom: var(--gutter24);
}
.payment-btn-kakao{
background-color: #f7e100;
}
.payment-btn-toss{
background-color: var(--BB_color_blue_sub);
}

.payment-link-btn-container{
    display: flex;
    gap: var(--gutter16);
}
.button-group button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex: 1 1 30%;
    cursor: pointer;
  }

  .button-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: var(--gutter8);
  }
  .img-container {
    text-align: center; 
    height: 20vh;
  }
  
  .img-container img {
    max-width: 80%; /* 이미지 최대 너비를 80%로 제한 */
    max-height: 100%; 
    display: block;
    margin: auto; 
    height: auto; /* 높이는 자동으로 설정되어 원본 비율을 유지 */
    object-fit: contain; /* 이미지의 비율을 유지하면서 컨테이너에 맞게 조정 */
  }

  .blue-btn-gift{
    background-color: var(--BB_color_blue);
    color: white;
  }
  .orange-btn-gift{
    background-color: var(--BB_color_orange);
    color: white;
  }
  .gift-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gift-second{
    display: flex;
    align-items: center;
    gap:var(--gutter8);
    margin-bottom: var(--gutter8);
  }
  .input-bday-message{
    border-radius: var(--gutter8);
    height: 20vh;
    background-color: var(--BB_color_white);
  }
  .colorgray-create-html{
    color:gray;
    margin: var(--gutter8) 0;
  }
  .create-gift-container{
    display: flex;
    flex-direction: column;
    gap:var(--gutter16);
  }

  .give_present{
    margin-top: var(--gutter8);
  }

.nickname-container{
    display: flex;
    justify-content: space-between;
}
input[type="text"],
textarea {
    width: 100%; /* Adjust width as needed */
    padding: 0 10px;
    background-color: transparent; 
    border: none;
    border-bottom: 1px solid #ffffff; 
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    color:white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: initial;
    font-size: 16px;
    outline: none;
    resize: none;
  }
#funding_amount, #gift_nickname{
  width: 8rem;
}
#birthday_message {
    background-color: transparent; 
    padding: 10px;
    color: #ffffff; 
    padding: 10px 20px; 
    border: 1px solid #ffffff;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}
