.create-payment-title {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; 
}
.icon-left{
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    left:var(--gutter8);
    position: absolute;
    left: 0; 
}
.create-payment-title-for-center{
    text-align: center;
    margin-bottom: var(--gutter24);
}
.to-friends-message{
    border-radius: var(--gutter8);
    height: 20vh;
    background-color: var(--BB_color_white);
}

.to-friends{
    display: flex;
    gap:var(--gutter16);
    align-items: center;
}

.funding-image{
    display: flex;
    gap:var(--gutter16);
    align-items: center;
    
}
.fa-circle-plus{
    cursor: pointer;
    font-size: var(--gutter16);
    color: gray;
}
.create-payment-wrapper{
    margin: var(--gutter16) 0;
    display: flex; 
    flex-direction: column; 
    gap: var(--gutter16)
}
.start-btn-for-payment{
    margin-top: var(--gutter24);
  }
  .notice-for-paymentpage{
    color:gray;
  }

  .wrapper-content-payment{
    margin: var(--gutter8) 0;
    display: flex; 
    flex-direction: column; 
    gap: var(--gutter8)
  }

  .custom-font{
    font-family: var(--font-family-unna);
    font-weight: bold;
    font-size: 2rem
  }
input[type="text"],
textarea {
    width: 100%; /* Adjust width as needed */
    padding: 0 10px;
    background-color: transparent; 
    border: none;
    border-bottom: 1px solid #ffffff; 
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    color:white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: initial;
    font-size: 16px;
    outline: none;
    resize: none;
  }
  .to-friends-message,
  .funding-title,
  .present_link
  {
    border-radius: var(--gutter8);
    background-color: var(--BB_color_white);
    background-color: transparent; 
    padding: 10px;
    color: #ffffff; 
    padding: 10px 20px; 
    border: 1px solid #ffffff;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}
.to-friends-message{
    height: 20vh;
}

.funding-title,
.present_link{
    height: 5vh;
}
#photo-upload{
    display: none;
}

#price-slider {
    width: 100%;
}

#price-display {
    color: var(--BB_color_orange);
}
