.create-payment-title {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; 
}
.icon-left{
    font-size: 2.5rem;
    cursor: pointer;
    left:var(--gutter8);
    position: absolute;
    left: 0; 
}
.create-payment-title-for-center{
    text-align: center;
    margin-bottom: var(--gutter24);
}
.payment_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
}
.payment-link-btn-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: var(--gutter8);
    margin: var(--gutter16) 0;
    position: relative;
    width: 100%;
}
.payment-btn-kakao{
    background-color: #f7e100;
}
.payment-link-btn-container a {
    flex: 1;
}
.payment-description{
    color: var(--BB_color_orange);
    margin-top: 0.5rem;
}
.create_payment_btn{
    width: 100%;
    margin-top: var(--gutter24);
}
