.funding-title {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; 
}
.icon-left{
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    left:var(--gutter8);
    position: absolute;
    left: 0; 
}

  .funding-title-for-center{
    text-align: center;
    margin-bottom: var(--gutter24);
  }


.image img {
    width: 100%;
    height: auto;
    display: block;
}

.funding-info {
    margin: 1rem 0;
    color:gray;
}

.user-birthday {  
    margin-bottom: 2rem;
}

.user-birthday .dday {
    padding: 0.2rem 0.6rem;
    display: inline-block;
    margin-left: 0.5rem;
    background-color: var(--BB_color_blue);
}

.give_present{
    background-color: var(--BB_color_blue);
    color: var(--BB_color_white);
}

.percentage-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.participate-num{
    margin-bottom: 1rem;
}

.present-button-wrapper{
    display: flex;
    justify-content: center;
    gap: var(--gutter8);
    margin-bottom: var(--gutter8);
}

.participate-num{
    margin: var(--gutter24) 0;
}
.funding-title-for-margin{
    margin-top: var(--gutter16);
}
.images-icons{
    display: inline-block; margin: 0; vertical-align: middle;
}
.current-progress{
    color: var(--BB_color_orange);
}
.give_present{
    margin-top: var(--gutter24);
}
.gift-to-buy{
    cursor: pointer;
}
.detail-img{
    vertical-align: middle;
}
.friend-birthday{
    margin: var(--gutter8) 0;
}
.participate-num{
    margin-top: 0;
}
.participate-num strong{
    font-size: 2rem;
    padding: 0 var(--gutter8);
    color: var(--BB_color_blue);
}
.detail-funding-title{
    margin-top: 1rem;
}

.detail-styles{
    display: inline-block; 
    margin: 0; 
    vertical-align: middle;
}

.give_present{
    background-color: var(--BB_color_blue);
    color: var(--BB_color_white);
    margin-left: 1rem;
}

.percentage-container {
    display: flex; 
    justify-content: space-between; 
}

.participate-num{
    margin-bottom: 1rem;margin: 
    var(--gutter24) 0;
}
.share-btn{
    background-color:var(--BB_color_yellow);
    width: 50%;
}
#pop-up-message{
    display:none; color:var(--BB_color_orange); text-align: center; margin-top: 20px;
}
.give-onload-btn{
    background-color: gray;
}
.give-onload-btn p{
    color: var(--BB_color_white);
}
.end-funding{
    margin-top: 3.2rem;
}