#main-container {
  gap: var(--gutter24);
}

.create-funding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter16);
}
#gift-img {
  width: 23rem;
  height: 23rem;
  background-image: url(../images/gift_main.png);
}
.btn-main-create {
  width: 80%;
}
.funding-status {
  text-align: center;
}
.funding-status > strong {
  font-size: 2.4rem;
  color: var(--BB_color_orange);
}
.funding-status > strong:nth-child(2) {
  color: var(--BB_color_blue);
}
.main-title {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-top: var(--gutter8);
}
.main-title > :nth-child(2) {
  text-decoration: underline;
}
.view-all {
  cursor: pointer;
}
