{% extends "base.html" %} {%load static%} {% block head %}
<link rel="stylesheet" href="{% static 'css/all_list.css'%}" /> {% endblock head %}
{% block header %}
<p class="logo unna-bold-36">Best Birthday</p>
<div class="profile"></div>
{% endblock header %} {% block content %}
<div class="header-title-container">
  <div><i class="ri-arrow-left-s-line"></i></div>
  <div class="header-title notosans-bold-20">진행 중인 펀딩</div>
  <div></div>
</div>
<div class="card-container card2-container">
  <div class="card2-image"></div>
  <div class="card2-right">
      <div class="D-day div-btn">
            <p class="notosans-regular-12">D - 6</p>
        </div>
      <div class="card2-content">
        <div class="card2-title notosans-bold-16">나의 생일을 축하해주렴</div>
        <div class="progress-percent2 notosans-regular-14">32%</div>
        <div class="progress-container">
          <div class="progress-value-container">
      
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}
