{% extends '../base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/detail.css' %}" />
{% endblock head %} {% block header %}
<div class="funding-title">
  <i onClick="history.go(-1)" class="icon-left fa-solid fa-chevron-left"></i>
  <p class="funding-title-for-center notosans-bold-24">{{funding.title}}</p>
</div>
{% endblock header %} {%block content%}
<div class="image-container">
  {% if funding.photo %}
    <img src="{{ funding.photo.url }}" />
  {%else%}
    <img src="{%static 'images/no_img.png'%}" />
  {% endif %}
</div>

<div class="detail-wrapper">
  <div class="notosans-bold-20 detail-funding-title">{{funding.title}}</div>
  <div class="funding-info notosans-regular-14">{{funding.content}}</div>
  <div class="percentage-container">
    <div class="user-birthday notosans-bold-16">
      모인 금액 : {{funding.total_price}}원
    </div>
    <div class="current-progress notosans-bold-16">{{progress}}%</div>
  </div>
  <div class="progress-bar">
    <progress value="{{progress}}" max="100"></progress>
  </div>
  <div class="participate-num notosans-bold-16">
    참여 인원<strong>{{funding.msg_count}}</strong>명
  </div>
  <div id="detail-container">
    <div class="notosans-regular-14">
      <p class="detail-styles">
        <img class="detial-img" src="{%static 'images/target.svg'%}" />
      </p>
      <span  class="notosans-bold-16">목표 금액</span> {{funding.goal_price}}원
    </div>
    <div class="notosans-regular-14">
      <p class="detail-styles">
        <img class="detial-img" src="{%static 'images/cake.svg'%}" />
      </p>
      <span  class="notosans-bold-16">친구 생일</span> {{ funding.user.birthday|date:"n" }}월
      {{ funding.user.birthday|date:"j" }}일
      {% if dday < 0 %}
      <span class="dday"> D {{dday}} </span>
      {% elif dday == 0 %}
      <span class="dday"> D - Day </span>
      {% else %}
      <span class="dday"> D + {{dday}} </span>
      {% endif %}
    </div>
    {% if request.user == funding.user %} {% if funding.is_closed == False %}
    <a href="{{funding.present_link}}" target="_blank">
      <div class="gift-to-buy notosans-bold-16">
        <p class="detail-styles">
          <img class="detial-img" src="{%static 'images/computer.png'%}" />
        </p>
        내가 받을 물건 보기
      </div>
    </a>
    <div class="present-button-wrapper">
      <button id="share-btn" class="share-btn btn" type="button">
        <p class="notosans-bold-16">공유하기</p>
      </button>
      {% if dday < 0 %}
      <button class="btn give-onload-btn" type="button">
        <p class="notosans-bold-16">선물이 쌓이는 중..</p>
      </button>
      {% else %}
      <form method="post" action="{% url 'fundings:finish' pk=funding.id %}">
        {% csrf_token %}
        <button class="div-btn" type="submit">
          <p class="notosans-bold-16">생일 메시지 보러 가기</p>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  {% else %}
  <a href="{{funding.present_link}}" target="_blank">
    <div class="gift-to-buy notosans-bold-16">
      <p class="detail-styles">
        <img class="detial-img" src="{%static 'images/computer.png'%}" />
      </p>
      내가 받은 물건 보기
    </div>
  </a>
  <div class="btn give-onload-btn end-funding">
    <span class="notosans-bold-16">마감된 펀딩</span>
  </div>
  <form method="post" action="{% url 'fundings:finish' pk=funding.id %}">
    {% csrf_token %}
    <button class="div-btn" type="submit">
      <p class="notosans-bold-16">생일 메시지 보러 가기</p>
    </button>
  </form>
  {% endif %} {% else %}
  <a href="{{funding.present_link}}" target="_blank">
    <div class="gift-to-buy notosans-bold-16">
      <p class="detail-styles">
        <img class="detial-img" src="{%static 'images/computer.png'%}" />
      </p>
      내가 사줄 물건 보기
    </div>
  </a>
  <a href="{% url 'fundings:create_gift' pk=funding.id%}">
    <button class="give_present btn" type="button">
      <p class="notosans-bold-16">선물하기</p>
    </button>
  </a>
  {% endif %}
</div>

{% block scripts %}
<script>
  document.getElementById("share-btn").addEventListener("click", function () {
    // 현재 페이지의 URL 가져오기
    var currentUrl = window.location.href;

    // 임시 input 엘리먼트 생성
    var tempInput = document.createElement("input");
    tempInput.value = currentUrl;
    document.body.appendChild(tempInput);

    // input 내용 선택
    tempInput.select();
    tempInput.setSelectionRange(0, 99999); // For mobile devices

    // 복사 명령 실행
    document.execCommand("copy");

    // 임시 input 엘리먼트 제거
    document.body.removeChild(tempInput);

    // 복사 완료 메시지 표시 (옵션)
    alert("링크가 복사되었습니다");
  });
</script>
{% endblock scripts %} {%endblock%}
