{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fundings_my_detail.css' %}">
{% endblock head %}

{% block header %}
<div class="funding-title">
    <p class="title notosans-bold-24">funding.title</span>
</div>
{% endblock header %}

{%block content%}
<div class="image">
    <p>
        <img src="../../static/fundings/image/no_img.png"/>
    </p>
{% if funding.photo %}
    <p>
      <img src="{{ funding.photo.url }}"/>
    </p>
{% endif %}</div>

<div class="detail-wrapper">
    <div class="notosans-bold-20" style="color: var(--BB_color_white); margin-top: 1rem;">funding.title</div>
    <div class="funding-info notosans-regular-12" style="color:gray;">funding.content</div>
    <div class="percentage-container">
        <div class="user-birthday notosans-bold-16" style="color: var(--BB_color_white);">모인 금액 : funding.total_price</div>
        <div class="current-progress notosans-bold-16" style="color: var(--BB_color_orange);">20%</div>
    </div>
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
    <div class="participate-num notosans-bold-16" style="color: var(--BB_color_white);">참여 인원</div>
    <div class="notosans-bold-16" style="color: var(--BB_color_white);">
        <p style="display: inline-block; margin: 0; vertical-align: middle;"><img src="../../static/images/target.svg" style="vertical-align: middle;"></p>
        목표 금액
    </div>
    <div class="notosans-bold-16" style="color: var(--BB_color_white);">
        <p style="display: inline-block; margin: 0; vertical-align: middle;"><img src="../../static/images/cake.svg"  style="vertical-align: middle;"></p>
        내 생일  funding.user.birthday
          {% if dday < 0 %}
              <span class="dday"> Ddday </span>
          {% elif dday == 0 %}
              <span class="dday"> D-Day </span>
          {% else %}
              <span class="dday"> D+dday </span>
          {% endif %}
    </div>
    
<div class="present-button-wrapper">
    <button class="share btn" type="button" style="background-color:var(--BB_color_yellow);">
        <p class="notosans-bold-16" style="color: var(--BB_color_white);">공유하기</p>
    </button>
    <button class="give_present btn" type="button" onclick="showMessage()">
        <p class="notosans-bold-16 ">선물이 쌓이는 중..</p>
    </button>
</div>

<div class="notosans-regular-12" id="message" style="display:none; color:var(--BB_color_orange); text-align: center; margin-top: 20px;">
    생일이 되어야 확인 할 수 있어요~
</div>

</div>

{% block scripts %}
<script>
  function showMessage() {
    var messageDiv = document.getElementById('message');
    messageDiv.style.display = 'block';
  }
</script>
{% endblock scripts %}

{%endblock%}
