{% extends "base.html" %} {%load static%}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/result_modal.css'%}" /> 
{% endblock head %}
{% block header %}
<p class="logo unna-bold-36">Best Birthday</p>
<div class="profile"></div>
{% endblock header %}
{% block content2 %}
<div class="just-for-space"></div>
    <div class="result-modal-wrapper">
        <div class="xmark-icon" style="cursor: pointer;" onclick="">
            <a href="{% url 'fundings:main' %}"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="go-and-check">
            <p class="notosans-bold-20 congrats-notice" style="color:var(--BB_color_white)">예진에게 선물전달 완료</p>
            <div class="lock-img">
                <img src="{%static 'images/gift_main.png'%}">
            </div>
        </div>
    </div>
{% endblock content2%}
