{% extends "base.html" %}
{%load static%}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/fundings/main.css'%}" /> 
{% endblock head %}
{% block header %}
<a href="">
  <p class="logo unna-bold-36">Best Birthday</p>
</a>
{% if user.is_authenticated %}
<a href="{%url 'users:mypage_list'%}">
  <div class="profile"></div>
</a>
{% else %}
<a href="{%url 'users:login'%}">
  <div class="profile"></div>
</a>
{% endif %}
{% endblock header %} 

{% block content %}
<div class="create-funding-container">
<div id="gift-img"></div>
<p class="notosans-bold-20">한 번 뿐인 생일을 최고의 날로</p>
{% if funding_exists == 1 or funding_exists == 2 %}
        <div class="main-class-forcenter">
          <div class="cbtn btn-main-create change-color">
          <p class="notosans-bold-18">내 생일 축하받기</p>
          </div>
          <!--숨겨두기-->
          <div id="alert-funding">
            <i class="fa-solid fa-circle-exclamation notosans-regular-12"></i>
            <div class="notosans-regular-12">
              {% if funding_exists == 1 %}
                펀딩 생성은 생일 기준 7일 앞뒤로 할 수 있습니다.
              {% elif funding_exists == 2 %}              
                이미 생성된 펀딩이 있습니다. 펀딩 생성은 1번만 가능합니다.
              {% endif %}
            </div>
          </div> 
        </div>

{% else %}
        <!-- 만든 펀딩이 없을 경우, "내 생일 축하받기" 버튼을 표시 -->
        <a href="{% url 'fundings:create_funding' %}" class="div-btn btn-main-create">
            <p class="notosans-bold-18">내 생일 축하받기</p>
        </a>
{% endif %}

</div>
{%if today_fundings%}
<div class="funding-status notosans-bold-20">
  오늘 생일 <strong>{{today_fundings_num}}</strong>명, 축하메시지 <strong>{{total_today_funding_msg_count}}</strong>개
</div>
{%else%}
<div class="funding-status notosans-bold-20">
  오늘 생일 <strong>0</strong>명, 축하메시지 <strong>0</strong>개
</div>
{% end if %}
<div class="main-title">
  <div class="notosans-bold-20">오늘 생일인 펀딩</div>
  <a href="{%url 'fundings:main_all_birthday_list' %}">
    <div class="view-all notosans-regular-14">전체보기</div>
  </a>
</div>
{%if today_fundings%}
{%for funding in today_fundings%}
<a href="{%url 'fundings:detail' pk=funding.pk%}">
  <div class="card-container">
    <div class="card-top">
      {% if funding.is_achieved %}
      <img class="badge" src="{%static 'images/badge.png'%}">
      {%endif%}
      {%if funding.photo.url != null and funding.photo.url != ''%}
          <img class="card-image" src="{{funding.photo.url}}" alt="대체텍스트" />
      {%else%}
          <img class="card-image" src="{%static 'images/no_img.png'%}" alt="" />
      {%endif%}
      <div class="D-day div-btn">
        <p class="notosans-regular-12">
          {% with dday=today_funding_dday_dict|get_item:funding.pk %}
          {% if dday > 0 %}
               D - {{dday}} 
          {% elif dday == 0 %}
               D - Day 
          {% endif %}
          {% endwith %}
        </p>
      </div>
    </div>
    <div class="card-title notosans-bold-16">{{funding.title}}</div>
    <div class="progress-container">
      <div class="coin-icon"></div>
      <div class="progress-value-container">
        {% with progress=today_funding_progress_dict|get_item:funding.pk %}
        <progress value="{{progress}}" max="100"></progress>
        <div class="progress-percent notosans-regular-12">
          {{progress}}%
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</a>
{%endfor%}
    {%else%}
    <div class="null-guide notosans-bold-16">오늘 생일자가 없습니다.</div>
    {%endif%}

    <div class="main-title">
      <div class="notosans-bold-20">내가 제일 인싸</div>
      <a href="{%url 'fundings:main_ranking_list' %}">
        <div class="view-all notosans-regular-14">순위보기</div>
      </a>
    </div>
  {%if fundings_in_msg_order%}
  {%for funding in fundings_in_msg_order%}
  <a href="{%url 'fundings:detail' pk=funding.pk %}">
    <div class="card-container">
      <div class="card-top">
        {% if funding.is_achieved %}
        <img class="badge" src="{%static 'images/badge.png'%}">
        {%endif%}
        {%if funding.photo.url != null and funding.photo.url != ''%}
            <img class="card-image" src="{{funding.photo.url}}" alt="대체텍스트" />
            {%else%}
            <img class="card-image" src="{%static 'images/no_img.png'%}" alt="" />
            {%endif%}
        <div class="D-day div-btn">
          <p class="notosans-regular-12">
            {% with dday=msg_funding_dday_dict|get_item:funding.pk %}
            {% if dday > 0 %}
                 D - {{dday}} 
            {% elif dday == 0 %}
                 D - Day 
            {% endif %}
            {% endwith %}
          </p>
        </div>
      </div>
      <div class="card-title notosans-bold-16">{{funding.title}}</div>
      <div class="progress-container">
        <div class="coin-icon"></div>
        <div class="progress-value-container">
          {% with progress=msg_funding_progress_dict|get_item:funding.pk %}
          <progress value="{{progress}}" max="100"></progress>
          <div class="progress-percent notosans-regular-12">
            {{progress}}%
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </a>
{%endfor%}
    {%else%}
    <div class="null-guide notosans-bold-16">진행 중인 펀딩이 없습니다.</div>
    {%endif%}
<div class="main-title">
  <div class="notosans-bold-20">진행 중인 펀딩</div>
  <a href="{%url 'fundings:main_all_funding_list' %}">
    <div class="view-all notosans-regular-14">전체보기</div>
  </a>
</div>
{%if open_fundings %}
{%for funding in open_fundings%}
<a href="{%url 'fundings:detail' pk=funding.pk%}">
  <div class="card-container">
    <div class="card-top">
      {% if funding.is_achieved %}
      <img class="badge" src="{%static 'images/badge.png'%}"></i>
      {%endif%}
      {%if funding.photo.url != null and funding.photo.url != ''%}
          <img class="card-image" src="{{funding.photo.url}}" alt="대체텍스트" />
          {%else%}
          <img class="card-image" src="{%static 'images/no_img.png'%}" alt="" />
          {%endif%}
      <div class="D-day div-btn">
        <p class="notosans-regular-12">
          {% with dday=open_funding_dday_dict|get_item:funding.pk %}
          {% if dday > 0 %}
               D - {{dday}} 
          {% elif dday == 0 %}
               D - Day 
          {% endif %}
          {% endwith %}
        </p>
      </div>
    </div>
    <div class="card-title notosans-bold-16">{{funding.title}}</div>
    <div class="progress-container">
      <div class="coin-icon"></div>
      <div class="progress-value-container">
        {% with progress=open_funding_progress_dict|get_item:funding.pk %}
        <progress value="{{progress}}" max="100"></progress>
        <div class="progress-percent notosans-regular-12">
          {{progress}}%
        {% endwith %}
        </div>
      </div>
    </div>
  </div>
</a>
{%endfor%}
    {%else%}
    <div class="null-guide notosans-bold-16">진행 중인 펀딩이 없습니다.</div>
    {%endif%}
{% endblock content %}


{% block content2 %}
<div id="modal_container">
    <div class="result-modal-wrapper">
        <a href="{% url 'fundings:main'%}" class="xmark-icon">
            <i class="fa-solid fa-xmark close-area"></i>
        </a>
        <div class="go-and-check">
            <p id="congrats-message" class="notosans-bold-20 congrats-notice" style="color:var(--BB_color_white)"> 선물전달 완료</p>
            <div class="lock-img">
                <img src="{%static 'images/modal2.png'%}">
            </div>
        </div>
    </div>
</div>
{% endblock content2%}


{% block script %}
<script>
  //이전페이지가 선물완료 페이지인지 확인
  function showModalBasedOnPreviousPage() {
    const prevPage = document.referrer;
    const isPreviousPageB = prevPage.endsWith("/create_gift_complete/"); 
    if (isPreviousPageB) {
        const modal_pk = prevPage.split("/")[prevPage.split("/").length - 3];
        console.log(prevPage)
        console.log(modal_pk)
        modalOn(modal_pk);
    }
}

  function modalOn(modal_pk) {
    const modal = document.getElementById("modal_container");
    modal.style.display = "block";

    const congratsMessage = document.getElementById("congrats-message");
    congratsMessage.innerText = "생일 선물 전달완료";

    document.body.style.overflow = "hidden";

  }

  function modalOff() {
    const modal = document.getElementById("modal_container");
    modal.style.display = "none";
    document.body.style.overflow = "auto";
  }

  // X 누르면 닫기
  const closeBtn = document.querySelector(".close-area");
  closeBtn.addEventListener("click", e => {
    modalOff();
  });

  // 전페이지에 따라 모달 띄우는 함수 실행
  window.onload = showModalBasedOnPreviousPage;
  
  
  //1유저 1펀딩
  function showFundingMessage() {
  // 메시지 표시
  var messageDiv = document.getElementById('funding-exists-message');
  messageDiv.style.display = 'block';

  // 클릭한 div의 스타일 변경
  var createButtonDiv = document.querySelector('.cbtn.btn-main-create.change-color');
  createButtonDiv.classList.add('clicked');
}
  document.addEventListener('DOMContentLoaded', function() {
    var btn = document.querySelector('.cbtn.btn-main-create.change-color');

    btn.addEventListener('click', function() {
        // 'alert-message'보이게
        document.getElementById('alert-funding').style.display = 'flex';
        //클릭한 버튼 회색으로
        this.style.backgroundColor = '#808080';
    });
});
</script>
{% endblock script %}