{% extends "base.html" %} {%load static%} {% block head %}
<link rel="stylesheet" href="{% static 'css/all_list.css'%}" /> {% endblock head %}
{% block header %}
<a href="{%url 'fundings:main'%}">
  <p class="logo unna-bold-36">Best Birthday</p>
</a>
<div class="profile"></div>
{% endblock header %} {% block content %}
<div class="header-title-container">
  <a href="{%url 'fundings:main'%}">
    <div><i class="ri-arrow-left-s-line"></i></div>
  </a>
  <div class="header-title notosans-bold-20">오늘 생일자</div>
  <div></div>
</div>
{%if fundings%}
    {%for funding in fundings%}
<a href="{%url 'fundings:detail' pk=funding.pk%}">
  <div class="card-container card2-container">
    {%if funding.photo.url != null and funding.photo.url != ''%}
    <img class="card2-image" src="{{funding.photo.url}}" alt="대체텍스트" />
    {%else%}
    <img class="card2-image" src="{% static 'fundings/image/no_image.png' %}" alt="" />
    {%endif%}
    <div class="card2-right">
        <div class="D-day div-btn">
              <p class="notosans-regular-12">D - {{ funding_dday_dict|get_item:funding.user.id }}</p>
          </div>
        <div class="card2-content">
  
          <div class="card2-title notosans-bold-16">{{funding.title}}</div>
          <div class="progress-percent2 notosans-regular-14">32%</div>
          <div class="progress-container">
            <div class="progress-value-container">
  
              <div class="progress-bar">
                <div class="progress"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</a>
{%endfor%}
    {%else%}
    <div>오늘 생일자가 없습니다.</div>
    {%endif%}

{% endblock content %}
