{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/mypage_profile_setting.css' %}">
{% endblock head %}

{% block header %}
<div class="mypage-title">
    <i onClick="history.go(-1)" class="icon-left fa-solid fa-chevron-left"></i>
    <p class="mypage-title-for-center notosans-bold-24">프로필 설정</p>
</div>
{% endblock header %}


{% block content %}
<div class="profile-for-center">
    <p class="notosans-bold-18 profile-setting">프로필 설정</p>
    <img class="input-profile-img"src="../../static/images/default_profile.png">
    <p class="notosans-bold-18 name-setting">이름 설정</p>
    <input type="text" class="notosans-bold-16 input-name" placeholder="바꿀 이름을 입력하세요"> 
    <a href="{% url 'fundings:mypage_list' %}">
        <div class="div-btn setting-btn">
            <p class="notosans-bold-18">완료</p>
        </div> 
    </a>
</div>
{% endblock %}
