{% extends '../base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/fundings/start.css' %}">
{% endblock head %} 


{% block content %}
<div class="start-head-container">
    <p class="start-logo unna-bold-55" > Best Birthday</p>
    <img class="logo-top" src="../../static/images/first.png">
</div>
<p class="notosans-regular-14">일년에 한번뿐인 생일을 최고의 날로</p>
<div class="start-container">
    <img class="present" src="../../static/images/start.png">
</div>
<div class="div-btn">
    <a href="{% url 'fundings:main' %}" class="notosans-bold-18">시작하기</a>
</div>

{% endblock content %}
