.xmark-icon  {
    text-align: right; 
}

.xmark-icon .fa-xmark {
    font-size: 2rem;
}
.profile-for-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: var(--gutter24);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nickname-input{
    width: 100%;
    height: 4.7rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: gray;
}
.nickname_img_wrapper{
    display: flex; 
    flex-direction: column; 
    gap:var(--gutter16);
    margin-top: 5rem;
}
#profile-upload{
    display: none;
}
/* 미리보기 프로필 출력형태 */
.input-profile-img {
    width: 100px;  /* 이미지의 너비 */
    height: 100px; /* 이미지의 높이 */
    border-radius: 50%; /* 이미지를 원형으로 만들기 */
    object-fit: cover; /* 이미지 비율 유지하면서 영역 채우기 */
}
input[type="text"],
textarea {
    width: 100%; /* Adjust width as needed */
    padding: 0 10px;
    background-color: transparent; 
    border: none;
    border-bottom: 1px solid #ffffff; 
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    color:white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: initial;
    font-size: 16px;
    outline: none;
    resize: none;
  }

.add-nickname{
    height: 5vh;
    background-color: var(--BB_color_white);
    background-color: transparent; 
    padding: 10px;
    color: #ffffff; 
    padding: 10px 20px; 
    border: 1px solid #ffffff;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}